<div class="error-wrapper">
    <div class="error-box error">
        <i class="icon-error"></i>
        <p></p>
    </div>
    <div id="fb-only" class="error-box info">
        <i class="icon-attention"></i>
        <p> <b>Please go to facebook.com to experience this extension ;)</b></p>
        <button id="gotofacebook" class="button button--antiman button--round-l button--text-medium"><i class="button__icon icon icon-map-marker"></i><span><b>Go to facebook.com</b></span></button>
    </div>
</div>