<div class="ask ">

    <div class="search">
        <button class="button button--antiman button--round-l button--text-medium"><i class="button__icon icon icon-map-marker"></i><span><b>Get Profile</b></span></button>
    </div>

    <span class="currentid"><b>Amine Mbarki</b> <i class="icon-save">it's me</i></span>
    <ul class="tab">
        <li><a href="#personal">Personal</a></li>
        <li class="separator">/</li>
        <li><a href="#location">Location</a></li>
    </ul>
    <div class="tab-wrapper">
        <div class="content" id="personal">
            <ul class="questions">
                <li>
                    <a href="https://www.facebook.com/search/100010045846665/stories-commented">
                        Posts commented on by <span>Ahmed Mbarki</span>?
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/search/100010045846665/stories-commented?_utmp=">
                        Photos liked by <span>Ahmed Mbarki</span>?
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/search/100010045846665/photos-of">
                        Photos of <span>Ahmed Mbarki</span>?
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/search/1456207913/photos-tagged">
                        Photos tagged with <span>Ahmed Mbarki</span>?
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/search/1456207913/photos-commented">
                        Photos commented on by <span>Ahmed Mbarki</span>?
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/search/100010045846665/friends/photos-uploaded">
                        Photos uploaded by <span>Ahmed Mbarki</span>'s friends?
                    </a>
                </li>
            </ul>
        </div>
        <div class="content" id="location">
            <ul class="questions">
                <li>
                    <a href="https://www.facebook.com/search/1456207913/places-visited">
                        <select name="place" id="">
                            <option value="https://www.facebook.com/search/100010045846665/places-visited">All Places</option>
                            <option value="Bars">Bars</option>
                            <option value="Beach">Beach</option>
                            <option value="Bookstores">Bookstores</option>
                            <option value="Cafes">Cafes</option>
                            <option value="Gyms">Gyms</option>
                            <option value="Movie theatres"> Movie theatres</option>
                            <option value="Museum"> Museum</option>
                            <option value="Restaurants">Restaurants</option>
                        </select> visited by  <span>Ahmed Mbarki</span>?
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>




